body {
 background-color: bisque
}
 h1 {
  font-size: 15px;
  color: brown;
  font-style: italic;
 }
  .text {
   color: rgb(48, 48, 216);
   font-weight: 700;
  }
   .paragraph {
    color: black;
    text-decoration: underline;
   }
   li {
    color: blueviolet;
    text-decoration: unset;
   }